body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}


#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

/* general section styles */

section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n + 1){
    background-color: white;
}

section:nth-child(2n){
    background-color: lightgrey;
}

/* section heading */

.section-heading{
    color: blue;
    text-transform: uppercase;
    font-family: monospace;
}

.section-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    height: auto;
    margin-bottom: 2rem;
/*     border: 1px solid black; */
}

/* skills section */
.skill{
    background-color: grey;
    margin: 10px;
    width: 200px;
    border-radius: 1.2rem;
}

.skill-progress{
    background-color: blue;
    height: inherit;
    width: 80%;
    padding-left: 0.8rem;
    border-radius: 1.2rem 0 0 1.2rem;
}

.skill-progress span{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
}

/* portfolio section */
.project{
    width: 300px;
    height: auto;
/*     border: 1px solid black; */
    margin: 10px;
}

.project img{
    width: 100%;
}

/* contact section */
#contact{
    background: linear-gradient(to top right, #2857a4, #403066);
}

#contact, #contact .section-heading{
    color: white;
}

#contact p{
    font-size: 1.1rem;
    width: 300px;
    overflow-wrap: word-break;
}

#contact input, textarea{
    display: block;
    margin-bottom: 2rem;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline:none;
    resize: none;
    width: 100%;
}

#contact button{
    padding: 0.3rem 0.5rem;
    background: none;
    color: white;
    text-transform: uppercase;
    border-color: white;
    cursor: pointer;
}

#contact .section-details{
    align-items: baseline;
}

.contact-us{
/*     border: 1px solid white; */
    width: 400px;
}

/* work experience section */
.timeline-container{
    width: 75%;
    position: relative;
/*     border: 1px solid black; */
    margin-bottom: 2rem;
}

.timeline-box{
    width: 40%;
    height: 150px;
    margin: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0.2rem;
    left: 5%;
}

.timeline-box:nth-child(2n){
    margin-left: 55%;
}

.fa-jet-fighter{
    transform: rotate(90deg);
    color: blue;
    margin-left: -1.3rem;
}

.timeline-divider{
    height: 350px;
    border-left: 3px dashed skyblue;
    position: absolute;
    top: 15%;
    left: 49%;
}

.timeline-divider .timeline-traveller{
    position: sticky;
    top: 30%;
    z-index: 1;
}

.travel-stop{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    margin-left: -0.45rem;
}

#one, #four{
    top: 1%;
}

#two, #five{
    top: 48%;
}

#three, #six{
    top: 95%;
}

.timeline-box p{
    font-size: 1rem;
}

.timeline-box h6, p{
    text-align: right;
}

.timeline-box h6{
    margin-top: -0.1rem;
    color: blue;
}

.timeline-box p{
    margin-top: -1rem;
    color: darkslategrey;
}

.timeline-box h6{
    background-image: url('https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png');
    background-size: contain;
    height: 2rem;
    background-repeat: no-repeat;
}
